# En este archivo coloca las variables de entorno necesarias para el backend

# URI de MongoDB local o Atlas
MONGO_URI=mongodb://localhost:27017/bibliotech

# Secreto para JWT
JWT_SECRET=tu_secreto_jwt_aqui

# Puerto donde correrá el servidor
PORT=5000
