:root{
    --button-desing: cyan;
    --button-desing2: white;
}

body{
    background-image: url(https://images.unsplash.com/photo-1603481588273-2f908a9a7a1b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat; /*Para no repetir la imagen de fondo*/
    background-attachment: fixed;/*Este elemento permite que la imagen se adapte y no se deforme*/
    background-size: cover;/*Con este elemento la imegen cubre todo el elemento*/
    color: #dfdfe2; 
    font-size: 30px;

/*---------------------------------------------------------*/
    font-family: sans-serif;
    margin: 0;
}

button a{
    text-decoration: none;
    color: black;
}

/*Hamburguesa*/

.hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburguesa span {
    background: white;
    height: 4px;
    width: 25px;
    margin: 4px 0;
    transition: 0.3s;
}

nav {
    padding: 15px;
    display: none;
    flex-direction: column;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 10px 0;
}

/* Mostrar elementos en pantallas pequeñas */
@media (max-width: 1080px) {
    .hamburguesa {
      display: flex;
    }

    nav.mostrar {
      display: flex;
    }
}

  /* En pantallas grandes, el menú está siempre visible */
@media (min-width: 1080px) {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .hamburguesa {
      display: none;
    }
}
/*---------------------------------------------------------------------------------*/

/*NAV*/

#carrito{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 1%;
    top: 10px;
    background: linear-gradient(
        var(--button-desing),
        var(--button-desing2)
    );
    border-color: var(--button-desing);
}

#inicio-sesion{
    height: 50px;
    width: 100px;
    position: absolute;
    right: 5%;
    top: 10px;
    background: linear-gradient(
        var(--button-desing),
        var(--button-desing2)
    );
    border-color: var(--button-desing);

}


#imag{
    width: 30px;
}

.list-one{
    display: flex;
    justify-content: space-evenly; /*Organiza todos los elementos de la lista en linea*/
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
}

li > a{
    text-decoration: none; /*Quita la linea del enlace*/
    color: white;
}

nav>ul>li:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}

nav > fieldset >ul > li {  /*Quita las biñetas de la lista desordenada*/
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

/*MAIN*/

h1{
    margin: 5px 5px;
    padding: 5px;
    text-align: center;  
    color: white;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid black;
}

div > p{
    color: white;
    text-align: center;
}

div{
    text-align: center;
}

#information{
    color: white;
    text-decoration: none;
}

#information:visited{
    color: cyan;
}

#producs{
    align-items: center;
    display: inline;
    min-height: 250px;
    min-width: 250px;
    max-width: 500px;
    max-height: 500px;
}

#infor{
    text-decoration: none;
    color: var(--button-desing);
}

#infor:hover{
    color: var(--button-desing2);
}


/*FOOTER*/

footer{
    text-align: center;
}

.name, .description{
    text-align: center;
    display: block;
}

#redes{
    position: relative;
    width: 30px;
    background-color: white;
}

#sug{
    position: absolute;
    display: block;
    height: 50px;
    width: 100px;
    right: 50%;
    left: auto;
    background: linear-gradient(
        var(--button-desing),
        var(--button-desing2)
    );
    border-color: var(--button-desing);
}
